.intro{
  background-color:blue;
  float: right;
  margin-right: 100px;
  100px;"
}
.rainbow {
  color: #FF8C00;
  background: gold;
}
h2 {
  color:white;
  font-size:25px;
  font-family: 'Playfair Display', serif;
}
h1 {
  color: pink;
  text-align:center; font-family: 'Playfair Display', serif;
}
a:hover{
  color:green;
}
a:active{
  color:blue
}
.movingthingy {
  color: violet;
  font-size:50px;
}
.sports{
  color:white;
}
img {
  border-radius: 8px;
}
#hockey {
  font-size:35px;
}
